<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Bootstrap 实例 - 基本表单</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="panel-body">
    <form class="form-inline" role="form" method="post" action="/aiom/upload_action">
        <input type="hidden" name="pid" value="{{pid}}">
        <div class="form-group">
            <input type="text" name="date" class="form-control" required placeholder="日期 格式:20180208 ">
        </div>
        <button type="submit" class="btn btn-default">上传</button>
    </form>
</div>
<p th:text="'Hello！, ' + ${name} + '!'" >3333</p>
</body>
</html>